// ARTICLE STYLES



// HEADER

article header{
  align-items: flex-start;
  background: $yellow;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-end;
  padding-top: 1px;
  position: relative;

  @include ms-respond(padding-left,9);
  @include ms-respond(padding-bottom,9);

  h1{ 
    @include ms-respond(margin-top,1);
    @include ms-respond(margin-bottom,-5);
  }
}
.byline{
  font-style: italic;
  @include ms-respond(font-size,0)
}



// CONTENT

article .content{
  box-sizing: border-box;
  max-width: 32em;

  @include ms-respond(margin-left,9);
  @include ms-respond(margin-right,9);
  @include ms-respond(margin-top,9);
  @include ms-respond(padding-bottom,9);

  h2,h3,h4{
    @include ms-respond(margin-top,1);
    @include ms-respond(margin-bottom,-3);
  }
  p{
    @include ms-respond(font-size,1);
    @include ms-respond(margin-top,2);
    @include ms-respond(margin-bottom,2);
    @include ms-respond(line-height,1);
  }

  a{
    padding: 0 ms(-6);
    position: relative;

    &:after{
      background-color: $yellow;
      bottom: 2px;
      content: "";
      display: block;
      left: 0;
      position: absolute;
      right: 0;
      top: 2px;
      transition: 0.3s left ease-in-out;
      z-index: -1;
    }
    &:before{
      background: #000;
      bottom: 0.2em;
      content: "";
      display: block;
      height: 1px;
      left: 0.5em;
      position: absolute;
      right: auto;
      transition: 0.3s width ease-in-out;
      width: 0;
      z-index: -1;
    }
    &:hover{
      &:after{left: 100%;}
      &:before{
        width: calc(100% - 1em);
        transition-delay: 0.2s;
      }
    }
  }

  img{
    display: block;
    width: 100%;
    transition: 0.3s width ease-in-out;
    @include ms-respond(margin-bottom, 0);
  }

  @media (min-width: 32em) {
    img.left{
      float: left;
      width: 40%;
      @include ms-respond(margin-right, 1);
      @include ms-respond(margin-bottom, 0);
    }
    img.right{
      float: right;
      width: 40%;
      @include ms-respond(margin-left, 1);
      @include ms-respond(margin-bottom, 0);
    }
  }
}
