// ARTICLE STYLES



// HEADER

article header{
  align-items: flex-start;
  background: $yellow;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-end;
  padding: 1px 0 ms(8) ms(8);
  position: relative;

  h1{ margin: ms(0) 0 ms(-6); }
  .byline{font-size: ms(-1);}
}
.byline{font-style: italic;}



// CONTENT

article .content{
  box-sizing: border-box;
  max-width: ms(20);
  margin: ms(8) 0 0 ms(8);
  padding-bottom: 1px;

  h2,h3,h4{margin: ms(0) 0 ms(-6);}
  p{margin: ms(0) 0;}

  a{
    padding: 0.1em 0.5em;
    position: relative;

    &:after{
      background-color: $yellow;
      bottom: 0;
      content: "";
      display: block;
      left: 0;
      position: absolute;
      right: 0;
      transition: 0.3s left ease-in-out;
      top: 0;
      z-index: -1;
    }
    &:before{
      background: #000;
      bottom: 0.2em;
      content: "";
      display: block;
      height: 1px;
      left: 0.5em;
      right: auto;
      transition: 0.3s width ease-in-out;
      position: absolute;
      width: 0;
      z-index: -1;
    }
    &:hover{
      &:after{left: 100%;}
      &:before{
        width: calc(100% - 1em);
        transition-delay: 0.2s;
      }
    }
  }
  img.left{
    float: left;
    margin: 0 ms(0) ms(-1) 0;
  }
  img.right{
    float: right;
    margin: 0 0 ms(-1) ms(0);
  }
}




