blockquote{
  border-left: 0.25em solid $yellow;
  margin: ms(4) 0;
  padding: ms(0);
  font-style: italic;
}
.quote{
  font-size: ms(2);
  line-height: ms(0);
}
cite{
  display: block;
  font-size: ms(-2);
  margin-top: ms(0);
}
