blockquote{
  border-left: 0.25em solid $yellow;
  font-style: italic;
  margin: 0;

  @include ms-respond(margin-top,5);
  @include ms-respond(margin-bottom,5);
  @include ms-respond(padding,1);
}
.quote{
  display: block;
  @include ms-respond(font-size,2);
  @include ms-respond(line-height,1);
}
cite{
  display: block;
  margin-top: ms(0);
  @include ms-respond(font-size,0);
}


@media (min-width: 60em){
  blockquote{
    border-width: 0.5em;
  }
}
