.compare-scale{
  display: flex;
  justify-content: center;
  @include ms-respond(margin,5);
}
.compare-scale__item{
  align-items: center;
  border-top: 1px solid #000;
  display: flex;
  flex-direction: column;
  padding-bottom: 27px;

  @include ms-respond(padding-right,-1);
}
.compare-scale__size{
  color: $red;
  position: relative;

  @include ms-respond(font-size,-2);
  @include ms-respond(padding-top,-1);
  @include ms-respond(padding-bottom,-1);

  &:before{
    border-left: 1px solid #000;
    content: "";
    left: 50%;
    position: absolute;
    top: 0;

    @include ms-respond(height,0);
  }
}
.compare-scale__text{
  line-height: 0.33em;
}
